<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TaskList.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>71DEABC41BE5AF8A0007758B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71DEABE01BE5AF8B0007758B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71DEABEB1BE5AF8B0007758B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
